# Deep Learning Core
torch>=2.0.0 --index-url https://download.pytorch.org/whl/cu121
torchvision>=0.15.0 --index-url https://download.pytorch.org/whl/cu121
torchaudio>=2.0.0 --index-url https://download.pytorch.org/whl/cu121

# Data Manipulation & Metrics
numpy
pandas
scikit-learn

# Visualization & EDA
matplotlib
seaborn
Pillow

# Utilities
tqdm
requests

jupyter-notebook