# Deep Learning Core (Download appropriate version based on your CUDA setup)
# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu126

# Data Manipulation & Metrics
numpy
pandas
scikit-learn

datasets
huggingface_hub

# Visualization & EDA
matplotlib
seaborn
Pillow

# Utilities
tqdm
requests

jupyter-notebook